


    .mercury {
        background-color: aqua;
    }
    .venus {
        background-color: aquamarine;
    }
    .Earth {
        background-color: beige;
    }
    .mars {
        background-color: red;
    }
    .jupiter {
        background-color: orange;
    }
    .saturn {
        background-color: blue;
    }
    .uranus {
        background-color: grey;
    }
    .neptune {
        background-color: green;
    }



